.b-form-tags {
    @import '../../node_modules/bootstrap/scss/bootstrap.scss';
    @import '../../node_modules/bootstrap-vue/src/index.scss';
    display: block;
    width: 100%!important;
    height: 50px!important;
    margin-bottom: 3rem!important;
    font-size: 16px!important;
    padding: 10px!important;
    outline: 0!important;
    border: 1px solid #e6ecf0!important;
    border-radius: 3px!important;
    background-color: #F5F5F5!important;
    &:focus {
        box-shadow: 0 0 5px 0 rgba($dark, 0.2)!important;
    }
    .btn {
        display: none!important;
        &:focus {
            display: none!important;
        }
    }
    .b-form-tags-input {
        &:focus {
            box-shadow: none!important;
        }
        padding-left: 0.5rem!important;
    }
    .badge {
        margin-right: 0.5rem!important;
        background-color: grey!important;
        color: white!important;
    }
}